.request-builder-body {
    display: flex;
    align-items: center;
    background-color: white;
    height: calc(100% - 120px);
    padding: 15px 20px;    
}

textarea {
    resize: none;
    height: calc(100% - 20px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    border: 1px solid lightblue;
    border-radius: 4px;
  }