.request-builder-params {
    background-color: white;
    height: calc(100% - 80px);
    margin: 10px 0 10px 10px;
    padding: 10px;    
}

.query-params-row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.add-query-params-button {
    background-color: #04AA6D;
    color: white;
    margin-left: 20px;
    padding: 11px 16px;
    border: none;
    cursor: pointer;
    width: 15%;
}
