.query-params {
    background-color: #f1f1f1;
    height: calc(100% - 70px);
    padding: 10px;
    overflow-y: auto;
}

.query-params-row {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.query-params-key {
    border: 1px solid #9575cd;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.query-params-value {
    border: 1px solid #9575cd;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
    width: 60%;
}

.query-params-add-button {
    background-color: #9575cd;
    color: white;
    border: 1px solid #9575cd;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    font-size: 14px;
}

.query-params-remove-button {
    background-color: #5e35b1;
    color: white;
    padding: 10px 0px;
    border-radius: 2px;
    border: 1px solid #9575cd;
    cursor: pointer;
    width: 40px;
    font-size: 15px;
}

@media only screen and (max-width: 900px) {
    .query-params-input {
        width: 100px;
    }
}
