.response-preview-empty {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 90px);
    margin: 20px;
    border: none;
    border-radius: 4px;
}

.response-preview-empty-text {
    background-color: white;
    font-size: 14px;
    color: lightgray;
    padding: 20px 40px;
    text-align: center;
    border: 1px solid lightblue;
    border-radius: 4px;
}

@media only screen and (max-width: 900px) {
    .response-preview-empty {
      background-color: white;
      justify-content: flex-start;
    }

    .response-preview-empty-text {
        padding: 20px 40px;
        width: 100%;
    }
  }