.response-preview {
    width: 45%;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 4px;
    margin-left: 5px;
    flex-grow: 1;
    flex-shrink: 0;
}

.response-preview-title {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 14px;
    padding: 10px 0 0 20px;
}

.response-preview-tabs {
    background-color: white;
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px 0px 0px 20px;
}

.response-preview-tabs__button {
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 0px;
    margin-right: 5px;
    width: 120px;
}

.response-preview-tabs__button--active {
    background-color: lightblue;
    color: white;
    border: 1px solid lightblue;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 0px;
    margin-right: 5px;
    width: 120px;
}

.response-status-bar {
    font-size: 12px;
    padding: 5px 0;
    margin-bottom: 20px;
    background-color: white;
    border-bottom: 1px solid lightblue;
}

.status-method {
    text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
    .response-preview {
        width: 100%;
        background-color: white;
        border: 1px solid lightblue;
        border-radius: 4px;
        flex-grow: 1;
        flex-shrink: 0;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}