.response-preview-body {
    display: flex;
    background-color: white;
    height: calc(100% - 120px);
    padding: 15px 20px;
}

pre {
    width: 100%;
    max-width: 100%;
    height: calc(100% - 20px);
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px;
    border: 1px solid lightblue;
    border-radius: 4px;
    margin: 0px;
}


@media only screen and (max-width: 900px) {
    pre {
        max-height: 600px;
    }
}