.response-preview-body {
    display: flex;
    background-color: #f1f1f1;
    height: calc(100% - 70px);
    padding: 10px;
}

pre {
    background-color: white;
    width: 100%;
    max-width: 100%;
    height: calc(100% - 20px);
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px;
    margin: 0px;
}

.response-status-bar {
    font-size: 12px;
    padding: 5px 0 10px 5px;
    margin-bottom: 20px;
    background-color: white;
    border-bottom: 2px solid #9575cd;
}

.status-method {
    text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
    pre {
        max-height: 600px;
    }
}