.request-builder {
    width: 45%;
    background-color: #f1f1f1;
    margin-right: 2.5px;
    flex-grow: 1;
    flex-shrink: 0;
}

.request-builder-tabs {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-bottom: 5px solid white;
}

.request-builder-tabs__button {
    background-color: #9575cd;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 0px;
    margin-right: 5px;
    width: 150px;
}

.request-builder-tabs__button--active {
    background-color: #5e35b1;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 0px;
    margin-right: 5px;
    width: 150px;
}

@media only screen and (max-width: 900px) {
    .request-builder {
        width: 100%;
        background-color: #f1f1f1;
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: 0px;
        height: 400px;
    }
}
