.request-builder {
    width: 45%;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 4px;
    margin-right: 5px;
    flex-grow: 1;
    flex-shrink: 0;
}

.request-builder-tabs {
    background-color: white;
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px 0px 0px 20px;
}

.request-builder-tabs__button {
    background-color: white;
    border: none;
    border-bottom: 2px solid #f1f1f1;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 0px;
    margin-right: 5px;
    width: 120px;
}

.request-builder-tabs__button--active {
    background-color: white;
    border: none;
    border-bottom: 2px solid lightblue;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 0px;
    margin-right: 5px;
    width: 120px;
}

@media only screen and (max-width: 900px) {
    .request-builder {
        width: 100%;
        background-color: white;
        border: 1px solid lightblue;
        border-radius: 4px;
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: 0px;
        height: 600px;
    }
}
