.url-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.url-form__input {
    background-color: #f1f1f1;
    border: none;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 10px;
    margin: 0px 5px;
    font-size: 14px;
}

.url-form__submit {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #9575cd;
    color: white;
    padding: 10px 0px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 100px;
    font-size: 14px;
}