.url-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.url-form__input {
    flex-grow: 1;
    flex-shrink: 0;
    border: 1px solid lightblue;
    border-radius: 4px;
    padding: 10px;
    margin: 0px 20px;
    font-size: 14px;
}

.url-form__submit {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: white;
    color: black;
    padding: 11px 16px;
    border: 1px solid lightblue;
    border-radius: 4px;
    cursor: pointer;
    width: 140px;
    font-size: 14px;
}