.app {
  display: flex;
  flex-direction: column;
}

.app-body {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.app-body__request {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  height: 84vh;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9575cd;
  height: 35px;
}

.app-header__title {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

@media only screen and (max-width: 900px) {
  .app-body__request {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    height: auto;
  }
}
